.carousel-caption {
  
    color: rgba(255, 255, 255, 0.719);
    background-color: rgba(122, 159, 191, 0.563);

    font-weight: bold;
    text-size-adjust: auto;
}

#carouselExample img{

  max-height: 600px;
}

/* .carousel {
position: relative;
top: 70px;
right: 25%;

} */